@charset "utf-8";
@import url(./reset.css);

//중단점 640px

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
$main-color: #5f0080;
$small-text: #bca8dd;
$price-color: #888;

$mobile: 'screen and (max-width:640px)';

#wrap {
	width: 1280px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
	@media #{$mobile} {
		width: 100%;
	}
	header {
		position: relative;
		height: 800px;
		color: #fff;
		background-color: $main-color;
		background-image: url(../images/maket-phone.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		@media #{$mobile} {
			height: 600px;
			background-size: calc(600px * 0.45);
		}
		> h1 {
			width: 805px;
			height: 145px;
			margin: 0 auto;
			text-indent: -9999px;
			border-bottom: 1px solid #fff;
			@media #{$mobile} {
				width: calc(805px * 0.5);
				height: calc(145px * 0.62);
			}
		}
		> p {
			&:nth-of-type(1) {
				position: absolute;
				left: 40.5%;
				top: 11%;
				width: 240px;
				background-color: $main-color;
				> img {
					width: 193px;
				}
				@media #{$mobile} {
					width: calc(240px * 0.6);
					left: 39%;
					top: 10%;
				}
				> img {
					width: 70%;
				}
			}
			&:nth-of-type(2) {
				margin-top: 80px;
				font-size: 20px;
				font-weight: 800;
				text-align: center;
				@media #{$mobile} {
					font-size: 16px;
				}
			}
			&:nth-of-type(3) {
				margin-top: 20px;
				font-size: 58px;
				font-weight: 800;
				text-align: center;
				@media #{$mobile} {
					font-size: 34px;
				}
			}
		} //end of p
	} //end of header

	main {
		> section {
			> h2 {
				height: 150px;
				text-indent: -9999px;
				background-position: center center;
				background-repeat: no-repeat;
			}
			> h3 {
				margin-bottom: 15px;
				color: $main-color;
				font-size: 34px;
				font-weight: 600;
				@media #{$mobile} {
					font-size: 26px;
				}
			}
			> p {
				> small {
					color: $small-text;
					font-size: 15px;
					font-weight: 400;
					line-height: 1.6;
					@media #{$mobile} {
						font-size: 11px;
						letter-spacing: 1px;
					}
				}
			}
		}
		> section.benefit1 {
			> h2 {
				background-image: url(../images/nom-1.png);
			}
			> p {
				&:nth-of-type(1) {
					margin-bottom: 35px;
					color: $price-color;
					font-size: 18px;
					font-weight: 500;
					line-height: 1.5;
					@media #{$mobile} {
						font-size: 13px;
					}
				}
				&:nth-of-type(2) {
					margin-bottom: 90px;
				}
			} //end of p
			> div.cont {
				position: relative;
				border-top: 1px solid $main-color;

				> h3 {
					position: absolute;
					left: 41.8%;
					top: -26px;
					width: 212px;
					height: 47px;
					color: $main-color;
					text-indent: -9999px;
					background-color: #fff;
					background-image: url(../images/tac-2.png);
					background-position: center center;
					background-repeat: no-repeat;
					@media #{$mobile} {
						left: 35%;
						width: calc(212px * 0.9);
						background-size: calc(212px * 0.9);
					}
				} //end of h3
				> ul.gnb {
					margin-top: 77px;
					> li {
						width: 805px;
						margin: 0 auto;
						@media #{$mobile} {
							width: 316px;
						}
						> ol.lnb1,
						ol.lnb3 {
							position: relative;
							display: flex;
							flex-flow: row nowrap;
							margin-bottom: 95px;
							@media #{$mobile} {
								position: unset;
								display: block;
							}
							> li {
								&:nth-of-type(1) {
									> a {
										display: block;
										width: 316px;
										height: 398px;
										text-indent: -9999px;
										background-image: url(../images/pic-1.png);
										background-position: center center;
										background-repeat: no-repeat;
									}
								}
								&:nth-of-type(2) {
									> a {
										display: block;
										@media #{$mobile} {
											margin-top: 25px;
										}
									}
									> a:first-child {
										position: absolute;
										left: 47%;
										top: 39%;
										color: #444;
										font-size: 23px;
										font-weight: 500;
										@media #{$mobile} {
											position: unset;
											font-size: 19px;
										}
									}
									> a:last-child {
										position: absolute;
										left: 51%;
										top: 55%;
										color: $price-color;
										font-size: 28px;
										font-weight: 500;
										text-align: left;
										text-indent: 20px;
										background-image: url(../images/outline.png);
										background-position: 0 5px;
										background-size: 160px;
										background-repeat: no-repeat;
										@media #{$mobile} {
											position: unset;
											display: inline-block;
											font-size: 20px;
											background-size: calc(160px * 0.7);
										}
										> span {
											display: inline-block;
											padding-left: 30px;
											color: $main-color;
										}
									}
								}
							} //end of li
						} //end of ol.lnb1
						> ol.lnb2 {
							position: relative;
							display: flex;
							flex-flow: row-reverse nowrap;
							margin-bottom: 95px;
							@media #{$mobile} {
								position: unset;
								flex-flow: column-reverse wrap;
							}
							> li {
								&:nth-of-type(1) {
									> a {
										display: block;
										@media #{$mobile} {
											margin-top: 25px;
										}
									}
									> a:first-child {
										position: absolute;
										left: 8%;
										top: 41%;
										color: #444;
										font-size: 23px;
										font-weight: 500;
										@media #{$mobile} {
											position: unset;
											font-size: 19px;
										}
									}
									> a:last-child {
										position: absolute;
										left: 12%;
										top: 55%;
										color: $price-color;
										font-size: 28px;
										font-weight: 500;
										text-align-last: left;
										text-indent: 20px;
										background-image: url(../images/outline.png);
										background-position: 0 4px;
										background-repeat: no-repeat;
										@media #{$mobile} {
											position: unset;
											display: inline-block;
											font-size: 20px;
											background-position: 7px 4px;
											background-size: calc(160px * 0.7);
										}
										> span {
											display: inline-block;
											padding-left: 30px;
											color: $main-color;
										}
									}
								}
								&:nth-of-type(2) {
									> a {
										display: block;
										width: 316px;
										height: 398px;
										text-indent: -9999px;
										background-image: url(../images/pic-2.png);
										background-position: center center;
										background-repeat: no-repeat;
									}
								}
							}
						} //end of ol.lnb2
						> ol.lnb3 {
							> li {
								&:nth-of-type(1) {
									> a {
										background-image: url(../images/pic-3.png);
									}
								}
							} //end of ol.lnb3
						} //end of ol.lnb3
					} //end of .gnb>li
				} //end of ul.gnb
			} //end of div.cont
		} //end of section.benefit1
		> section.benefit2 {
			> h2 {
				background-image: url(../images/nom-2.png);
			}
			> h3 {
				margin-bottom: 20px;
			}
			> h3 + p {
				padding: 10px 0;
				color: $price-color;
				font-size: 18px;
				font-weight: 400;
				line-height: 1.5;

				@media #{$mobile} {
					font-size: 13px;
				}
			}
			> p > img {
				width: calc(525px * 0.8);
			}
		} //end of section.benefit2
		> section.benefit3 {
			margin-top: 70px;
			padding: 25px 0 70px;
			background-color: #f6f6f6;
			> h2 {
				background-image: url(../images/nom-3.png);
			}
			> h3 + p {
				padding: 17px 0 40px;
				color: $price-color;
				font-size: 18px;
				font-weight: 400;
				line-height: 1.5;

				@media #{$mobile} {
					font-size: 13px;
				}
			}
			> div.cont {
				> ul {
					position: relative;
					display: flex;
					justify-content: space-between;
					width: 950px;
					margin: 0 auto;
					@media #{$mobile} {
						display: block;
						width: calc(435px * 0.8);
					}
					> li {
						width: 435px;
						height: 264px;
						text-indent: -9999px;
						background-size: 435px;
						background-position: center center;
						background-repeat: no-repeat;

						@media #{$mobile} {
							width: calc(435px * 0.8);
							background-size: calc(435px * 0.8);
						}

						&:first-child {
							background-image: url(../images/cou-1.png);
						}
						&:last-child {
							background-image: url(../images/cou-2.png);
						}
					}
				}
			} //end of div.cont
			> div.cont + p {
				padding-top: 25px;
			}
		} //end of section.benefit3
		> section.benefit4 {
			padding-bottom: 70px;
			> h2 {
				margin-top: 20px;
				background-image: url(../images/nom-4.png);
			}
			> h3 + p {
				margin: 25px 0 40px;
				color: $price-color;
				font-size: 18px;
				font-weight: 400;
				line-height: 1.5;
				@media #{$mobile} {
					font-size: 13px;
				}
			}
			> p > img {
				width: 435px;
				margin-bottom: 80px;

				@media #{$mobile} {
					width: calc(435px * 0.8);
				}
			}
		} //end of section.benefit4
		> section.best {
			position: relative;
			padding: 50px 0;
			background-color: #f6f6f6;

			@media #{$mobile} {
				padding-bottom: 300px;
			}
			> h2 {
				height: 90px;
				margin-bottom: 15px;
				color: $main-color;
				font-size: 34px;
				font-weight: 600;
				line-height: 90px;
				text-indent: 0;
				text-align: center;

				@media #{$mobile} {
					position: absolute;
					left: 50%;
					top: 50px;
					width: 300px;
					font-size: 23px;
					line-height: 1.3;
					transform: translate(-50%, 0);
				}
			}
			> h2 + div.cont {
				> ul {
					display: flex;
					justify-content: space-between;
					width: 1110px;
					margin: 0 auto;

					@media #{$mobile} {
						flex-flow: row wrap;
						justify-content: space-between;
						width: calc(249px * 2 * 0.8);
						margin-top: 80px;
					}
					> li {
						width: 249px;
						@media #{$mobile} {
							width: 48%;
							margin-top: 20px;
						}
						> a {
							display: block;
							background-position: center center;
							background-repeat: no-repeat;

							&:first-child {
								height: 319px;
								text-indent: -9999px;
								@media #{$mobile} {
									height: calc(319px * 0.8);
									background-size: contain;
								}
							}
							&:last-child {
								margin-top: 20px;
								color: $price-color;
								font-size: 20px;
								font-weight: 400;
								@media #{$mobile} {
									font-size: 15px;
								}
							}
							&:first-child:hover {
								border: 3px solid $main-color;
								box-sizing: border-box;
								@media #{$mobile} {
									border: none;
								}
							}
						}
					}
					> li.bread {
						> a {
							&:first-child {
								background-image: url(../images/pic-4.png);
							}
						}
					}
					> li.banana {
						> a {
							&:first-child {
								background-image: url(../images/pic-5.png);
							}
						}
					}
					> li.foodlella {
						> a {
							&:first-child {
								background-image: url(../images/pic-6.png);
							}
						}
					}
					> li.coffeebean {
						> a {
							&:first-child {
								background-image: url(../images/pic-7.png);
							}
						}
					}
				} //end of ul
				> P {
					display: flex;
					justify-content: center;
					margin-top: 120px;

					@media #{$mobile} {
						position: absolute;
						left: 50%;
						bottom: 50px;
						display: block;
						transform: translate(-50%, 0);
					}
					a {
						display: block;
						width: 381px;
						height: 84px;
						color: #fff;
						font-size: 26px;
						font-weight: 500;
						line-height: 84px;
						text-align: left;
						background-image: url(../images/btn-2.png);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
						box-sizing: border-box;

						@media #{$mobile} {
							width: calc(381px * 0.7);
							font-size: 17px;
						}

						&:first-child {
							margin-right: 75px;
							padding-left: 45px;

							@media #{$mobile} {
								margin-right: 0;
								padding-left: 35px;
							}
						}
						&:last-child {
							padding-left: 65px;
							@media #{$mobile} {
								padding-left: 50px;
							}
						}
						&:hover {
							color: $main-color;
							background-image: url(../images/btn-1.png);
						}
					}
				}
			} //end of ul
		} //end of section.best
	} //end of main
	footer {
		padding: 80px 0;
		@media #{$mobile} {
			padding-top: 20px;
		}
		> div.info {
			display: flex;
			padding-bottom: 20px;
			@media #{$mobile} {
				display: block;
			}
			> ul.customer {
				width: 50%;
				padding-left: 80px;
				@media #{$mobile} {
					width: 100%;
					padding-left: 10px;
					box-sizing: border-box;
				}
				> li {
					display: flex;
					margin-top: 40px;
					text-align: left;
					@media #{$mobile} {
						margin-top: 20px;
					}
					&:nth-child(1) {
						margin-top: 0;
						font-size: 20px;
						font-weight: 600;
						@media #{$mobile} {
							font-size: 16px;
						}
					}
					&:nth-child(2) {
						> p {
							&:first-child {
								margin-right: 10px;
								font-size: 26px;
								@media #{$mobile} {
									padding-top: 5px;
									font-size: 20px;
									font-weight: 500;
								}
							}
							&:last-child {
								padding-top: 0;
							}
						}
					}
					&:nth-child(3) {
						> p {
							&:first-child {
								margin-right: 10px;
								> a {
									font-size: 15px;
									font-weight: 500;
									border: 1px solid #ccc;
									padding: 10px 18px 10px 18px;
									@media #{$mobile} {
										margin-top: 4px;
										padding: 8px 12px 8px 12px;
										font-size: 12px;
									}
								}
							}
						}
					}
					&:nth-child(4) {
						> p {
							&:first-child {
								margin-right: 10px;
								> a {
									font-size: 15px;
									font-weight: 500;
									border: 1px solid #ccc;
									padding: 10px 36px 10px 36px;
									@media #{$mobile} {
										margin-top: 4px;
										padding: 7px 26px 7px 26px;
										font-size: 12px;
									}
								}
							}
						}
					}

					> p {
						&:last-child {
							padding-top: 7px;
							> span {
								color: $price-color;
							}
						}
						> a {
							display: inline-block;
						}
					}
				} //end of li
			} //end of customer
			> .footer_right {
				width: 50%;
				margin-top: 60px;
				padding: 0 70px 0 40px;
				text-align: left;
				box-sizing: border-box;
				@media #{$mobile} {
					width: 100%;
					padding-left: 10px;
				}
				> nav {
					> ul {
						display: flex;
						justify-content: space-between;
						padding-bottom: 30px;

						@media #{$mobile} {
							justify-content: flex-start;
							width: 100%;
							padding-bottom: 10px;
						}
						> li {
							@media #{$mobile} {
								margin-right: 8px;
							}
							> a {
								font-size: 14px;
								font-weight: 500;

								@media #{$mobile} {
									font-size: 12px;
								}
								&:hover {
									color: $main-color;
								}
							}
							&:nth-child(5) {
								> a {
									font-weight: 700;
								}
							}
						} //end of li
					} //end of ul
				} //end of nav
				> p {
					color: $price-color;
					line-height: 1.5;

					@media #{$mobile} {
						font-size: 11px;
					}
					// letter-spacing: 0.5px;
					> a {
						color: $main-color;
					}
					> small {
						font-size: 12px;
					}
					&:nth-of-type(6) {
						padding: 20px 0 10px;

						@media #{$mobile} {
							padding-bottom: 20px;
						}
					}
					&:nth-of-type(7) {
						@media #{$mobile} {
							margin-bottom: 20px;
						}
						> a {
							display: inline-block;
							width: 29px;
							height: 29px;
							margin-right: 5px;
							text-indent: -9999px;
							background-position: center center;
							background-repeat: no-repeat;

							&:nth-of-type(1) {
								background-image: url(../images/ft-1.png);
							}
							&:nth-of-type(2) {
								background-image: url(../images/ft-2.png);
							}
							&:nth-of-type(3) {
								background-image: url(../images/ft-3.png);
							}
							&:nth-of-type(4) {
								background-image: url(../images/ft-4.png);
							}
							&:nth-of-type(5) {
								background-image: url(../images/ft-5.png);
							}
						} //end of a
					}
				} //end of p
				> address {
					color: $price-color;
				}
			} //end of .footer_right
		} //end of div.info
		> div.license {
			padding: 0 40px 0 20px;
			border-top: 1px solid #ccc;

			@media #{$mobile} {
				padding: 0 0 0 10px;
			}
			> ol {
				display: flex;
				justify-content: space-between;
				width: 90%;
				margin: 0 auto;

				@media #{$mobile} {
					width: 100%;
				}

				> li {
					display: flex;
					margin-top: 15px;

					@media #{$mobile} {
						display: block;
						margin-right: 30px;
					}
					> a {
						display: block;
						text-indent: -9999px;
						background-position: center center;
						background-repeat: no-repeat;
					} //end of a
					> p {
						margin-left: 10px;
						color: $price-color;
						line-height: 1.5;
						text-align: left;

						@media #{$mobile} {
							margin-left: 0;
							margin-top: 20px;
							font-size: 10px;
						}
					}
					&:nth-child(1) {
						> a {
							width: 38px;
							height: 37px;
							background-image: url(../images/fter-1.png);
						}
					}
					&:nth-child(2) {
						> a {
							width: 37px;
							height: 36px;
							background-image: url(../images/fter-2.png);
						}
					}
					&:nth-child(3) {
						> a {
							width: 106px;
							height: 35px;
							background-image: url(../images/fter-3.png);
						}
					}
				} //end of li
			} //end of ol
		} //end of license
	} //end of footer
}
